<h1>Inventory</h1>

<!-- <table>
  <tr>
    <th>Company</th>
    <!-- <th>|</th>
    <th>Contact</th>
    <th>|</th>
    <th>Cost</th> -->
  </tr>
  <% for manufacturer in @manufacturers %>
  <tr>
    <!-- <td><img src="<%= manufacturer.url %>"><br/></td> -->
    <td><a href="/manufacturers/<%= manufacturer.id %>"><%= manufacturer.name %></a></td>
    <td>|</td>
    <!-- <td><%= manufacturer.contact %></td>
    <td>|</td>
    <td>£<%= manufacturer.cost %></td>
    <td>|</td> -->
  </tr>
  <% end %>
  <p><a href="manufacturers/new">Add a new supplier here</a></p>
</table> -->
