<h1>All Products in stock</h1>

<div id="flex-grid-thirds">
  <% for product in @products %>
  <div class="row">
    <a href="/products/<%= product.id %>"><%= product.product_name %></a>
  </div>
  <div class="row">
    <p><%= product.get_manufacturer %> </p>
  </div>
  <div class="row">
    <p><%= product.get_category %> </p>
  </div>
  <div class="row">
    <% if product.quantity <= 5 %>
    <p class="red">Quantity: <%= product.quantity %></p>
    <% elsif product.quantity <= 10 %>
    <p class="orange">Quantity: <%= product.quantity %></p>
    <% else %>
    <p class="green">Quantity: <%= product.quantity %></p>
    <% end %>
  </div>
  <% end %>
</div>
