<h1>All Products in stock</h1>

<div id="flex-container">
  <% for product in @products %>
  <div class="item">
    <a href="/products/<%= product.id %>"><%= product.product_name %></a>
  </div>
  <div class="item">
   <p><%= product.get_manufacturer %> </p>
  </div>
  <div class="item">
   <p><%= product.get_category %> </p>
  </div>
  <div class="item">
    <p>Quantity: <%= product.quantity %> </p>
  </div>
  <% end %>
</div>
