<h2>Edit Manufacturer</h2>
<form action="/manufacturers/<%= @manufacturer.id %>" method="post">
  <div class="form-wrapper">

    <div>
      <label for="name">Company Name:</label>
      <input type="text" name="contact_name" id="contact_name" value="<%= @manufacturer.contact_name %>" autofocus required/>
    </div>

    <div>
      <label for="last_name">Contact address:</label>
      <input type="text" name="contact_address" id="contact_address" value="<%= @manufacturer.contact_address%>" required/>
    </div>

    <div>
      <label for="last_name">Contact telephone:</label>
      <input type="text" name="contact_number" id="contact_number" value="<%= @manufacturer.contact_number%>" required/>
    </div>

    <div>
      <label for="age">Cost:</label>
      <input type="text" name="list_cost" id="list_cost" value="<%= @manufacturer.list_cost %>"/ required>
    </div>

    <!-- <div>
      <%# <input type="hidden" name="product_type" id="product_type" value="<%= @product.get_category %>" required/> %>
    </div> -->

    <div>
      <input type="submit" class="button" value="Update Manufacturer" required/>
    </div>

  </div>
</form>
