<h2>Edit Product</h2>
<form action="/products/<%= @products.id %>" method="post">
  <div class="form-wrapper">

    <input type="hidden" name="product_id" id="product_id" value="<%= @products.id %>"/>
    <input type="hidden" name="category_id" id="category_id" value="<%= @products.category_id %>"/>
    <input type="hidden" name="manufacturer_id" id="manufacturer_id" value="<%= @products.manufacturer_id %>"/>

    <label>
      Select a Product Category:
      <select id="category_type" name="category_type" style="color:black;">
        <% for category in @categories %>
        <option value="<%= category.id %>"><%= category.category_type %></option>
        <% end %>
      </select>
    </label>

    <div>
      <label for="product_name">Name:</label>
      <input type="text" name="product_name" id="product_name" style="color:black;" value="<%= @products.product_name %>" autofocus/>
    </div>

    <div>
      <label for="last_name">Description:</label>
      <input type="text" name="description" id="description" style="color:black;" value="<%= @products.description%>"/>
    </div>

    <div>
      <label for="age">Price:</label>
      <input type="text" name="list_price" id="list_price" style="color:black;" value="<%= @products.list_price %>"/>
    </div>

    <div>
      <label for="age">Quantity:</label>
      <input type="text" name="quantity" id="quantity" style="color:black;" value="<%= @products.quantity %>"/>
    </div>

    <div>
      <input type="submit" class="button" value="Update Product" />
    </div>

  </div>
</form>
