<h2>Edit Product</h2>
<form action="/products/<%= @product.id %>" method="post">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= @product.name %>" autofocus/>
    </div>

    <div class="form-el">
      <label for="last_name">Description:</label>
      <input type="text" name="description" id="description" value="<%= @product.description%>"/>
    </div>

    <div class="form-el">
      <label for="age">Price:</label>
      <input type="number" name="price" id="price" value="<%= @product.price %>"/>
    </div>

    <div class="form-el">
      <input type="hidden" name="product_type" id="product_type" value="<%= @product.product_type %>"/>
    </div>

    <div class="form-el">
      <input type="hidden" name="manufacturer_id" id="manufacturer_id" value="<%= @product.manufacturer_id %>"/>
    </div>

    <div class="form-el">
      <input type="submit" class="button" value="Update Product" />
    </div>

  </div>
</form>
