<h1>Products</h1>

<button class="button"><span><a href="/products/new">Add new product</a></span></button>

<div id="flex-container">
  <% for product in @products %>
  <div class="item">
    <a href="/products/<%= product.id %>"><%= product.product_name %></a>
  </div>
  <div class="item">
    <img src="<%= product.url %>" class="prod_img" alt="Banjo picture">
  </div>
  <div class="item">
   <p>Type:  <%= product.product_type %> </p>
  </div>
  <div class="item">
    <p>Cost:  £<%= product.price %> </p>
  </div>
  <% end %>
</div>
