<h2>Product Details:</h2>
<ul>
  <li><h3>Name:</h3><%= @product.product_name %></li>
  <li><h3>Description:</h3><%= @product.description %></li>
  <li><h3>Price:</h3> £<%= @product.list_price %></li>
  <li><h3>Quantity:</h3><%= @product.quantity %></li>
</ul>

<button class="button"><span><a href="/products/<%= @product.id %>/edit">Edit</a></span></button>
<button class="button"><span><a href="/products/<%= @product.id %>/delete" method="post">Delete Product</a></span></button>
